body {
    font-family: sans-serif;
    font-size: 15px;
    background-color: aqua;
    font-family: "Times New Roman", Times, serif;
    
}

#header{
    color: red;
    font-weight: 800;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#main
{
    text-align: center;
	margin: auto;
    
}

#content
{
    color: red;
    font-weight: 800;
    font-size: 20px;
    padding: 0px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#filter{
    display: inline-block;
    margin: auto;
}


table {
	width: 900px;
	margin: auto;
	border-collapse: collapse;
    
}

table tr:nth-child(even) {
	background-color: lavender;
	color: black;
}

table tr:nth-child(odd) {
	background-color: lightcyan;
	color: black;
}

th {
	color: white;
	background-color: brown;
	font-size: 20px;
    padding-left: 5px;
}

tr {
	font-size: 15px;
	text-align: left
}

button{
    color: white;
    background-color: red;
    font-weight: 600;
}




